.custidnote {font-style: italic; color: red;}

#divelement1 {overflow: scroll;}
#divelement2 {overflow: scroll;}
#divelement3 {overflow: scroll;}

#result {background-color: #90EE90; }
#addresult {background-color: #ADD8E6;}
#delresult {background-color: #FFA500;}

#customercreation1
    {
        display: none;
        overflow: scroll;
        width: 600px;
        height: 250px;
        float: left;
        position: absolute;
        
    }

#orderupdate2
    {
        display: none;
        overflow: scroll;
        width: 600px;
        height: 250px;
        float: left;
        position: absolute;
    }
    
#customerdelete3
    {
        display: none;
        overflow: scroll;
        width: 600px;
        height: 250px;
        float: left;
        position: absolute;
        
    }



